*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* .navbar-collapse{
    display: flex;
    justify-content: flex-end;
} */
#intro{
    background-image: url(./pics/stage-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    object-fit: cover;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.navbar-nav{
    font-size: 25px;
}

.intro-container{
    align-items: center;
    justify-items: center;
}