*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Comic Neue', cursive;
}
body{
    overflow-x: hidden;
}

.center-landing-text {
    margin-left: auto !important;
    margin-right: auto;
}

section{
    padding: 75px 0;
}
.navbar-collapse{
    color: indigo;
}
#intro{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./pics/stage-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    object-fit: cover;
    display: flex;
    align-items: center;
    width: 100%;
    height: 120vh;
}

.navbar-nav{
    font-size: 25px;
}

.bio-holder{
    display: flex;
    flex-wrap: wrap;
}

.bio-content {
    width: 50%;
    font-size: 125%;
}
.intro-container{
    align-items: center;
    justify-items: center;
}

#head {
    color: white;
    text-shadow: 0px 5px 20px purple;
}

#color-text {
    color: white;
}
#headBtn:hover {
    box-shadow: 0px 5px 10px purple;
}

.level{
    font-size: 200%;
}

#icon-container{
    border: 4px solid black;
    width: 15%;
    padding: 50px 0;
    margin-left: 8%;
    border-radius: 50%;
    transition: 0.3s ease-in;
}

#icon-container:hover{
    color: white;
    background: black;
    box-shadow: 0px 5px 15px purple;
}

.image img{
    width: 50%;
    height: 90%;
    border-radius: 50%;   
}
.image{
    display: flex;
    justify-content: center;
    width: 50%;
}

 /* testimonial section */

#testimonial-img{
    width: 100%;
    height: 100%;
    border-radius: 360px;
    align-content: center;
}

.all-contents{
    display: flex;
    flex-wrap: wrap;
}

.cards-box{
    position: relative;
    width: 27%;
    display: inline-block;
    background-color: transparent;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 50px;
    justify-items: auto;
}

.cards{
    position: absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transition: all 1s ease;
}

.cards:hover{
    transform: rotateY(180deg);
}

.front{
    position:absolute;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 20px rgb(156, 7, 243);
    backface-visibility:hidden;
    /* background-color: aqua; */
    color:rgb(255, 255, 255);
    text-align:center;
    border-radius: 360px;
    font-size: 20px;
    font-weight: bold;
}

.back{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
    background: rgb(5, 5, 5);
    color:rgb(254, 254, 255);
    box-shadow: 2px 2px 20px rgb(156, 7, 243);
    text-align:center;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    transform: rotateY(180deg);
}

 /* contact forms */

 .contact-box{
    width: 500px;
    box-shadow: 0 0 20px 0 rgb(165, 11, 236);
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(100%,0%);
    position: relative;
    background-image: url(pics/sunset-sea-bg.jpg);
}

form{
    margin:35px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #777;
    border-radius: 14px;
    outline: none;
    background-color:rgb(255, 255, 255);
}

.textarea-field{
    height:150px;
    padding-top: 10px;
}

.btn{
    border-radius: 20px;
    color: rgb(211,7,211);
    margin-top: 18px;
    padding: 10px;
    background-color: rgb(5, 5, 5);
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 18px;
}

.btn:hover{
    color: rgb(12, 12, 12);
    background-color: rgb(156, 7, 243);
    transition: ease-in;
    transition-delay: 25ms;
}
 /* footer */
 footer {
    text-align: center;
    font-size: 12px;
    color:rgb(255, 255, 255);
    font-size: large;
    background-color: rgba(0, 0, 0,1);
}
/* footer p{
    margin: 0;
} */